#playAreaContainer {
  display: flex;
  margin: auto;
  max-width: 90%;
}

#playArea {
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  place-items: center;
}
